.engage-progress-bar {
  border: 1px solid #fff;
  -moz-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin-bottom: 30px;
}

.engage-progress-bar-complete {
  background-color: #00a0b0;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.7) inset;
  -moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.7) inset;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.7) inset;
  height: 15px;
  display: block;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.engage-progress-count {
  color: #00a0b0;
}

.engage-progress-message {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 300;
  margin: 0.67em 0;
}
